@import './components';

.goods-list {
    display: grid;
    gap: 16px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 348px;

    @media screen and (max-width: 880px) {
        margin: 0;
        margin-top: 15px;
    }
    
    @media screen and (max-width: 400px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}